html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

p {
  display: block;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  justify-content: center;
  align-items: center;
  margin: 25px;
  width: 20% !important;
  text-align-last:center;
}

.subslider {
  display: flex;
  flex-direction: row;
}

#sliders {
  display: grid;
  align-items: center;
  flex-direction: row;
}

#master {
  display: flex;
  margin-top: 5vw;
  flex-direction: column;
}

#main {
  display: flex; 
  flex-direction: row;
  gap: 10vw;
  margin-left: 5vw;
  /* margin-top: 7.5vw; */
}
